<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MMHD Residences Property Management</title>
  <link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <header>
    <img src="images/mmhd-residences-logo.png" class="logo-image" alt="MMHD Residences Logo">
    <nav class="navbar navbar-expand-lg navbar-light justify-content-end" style="background-color: #16497f;">
      <!-- Conditionally render login, logout, & register links -->
      {{#if logged_in}}
      <a href="/logout" class="nav-button">Logout</a>
      {{else}}
      <a href="/login" class="nav-button">Login</a>
      <a href="/register" class="nav-button">Register</a>
      {{/if}}
    </nav>
  </header>
  <main>
    <!-- Render the view -->
    {{{ body }}}
    
  </main>
  <footer>

  </footer>
  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}

</body>
</html>