<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Property Manager</title>
  <link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <header>
    <img src=""/>
    <h1>Property Manager</h1>
    <nav class="navbar navbar-light" style="background-color: #03989E;">
      <!-- Conditionally render login, logout, & register links -->
      {{#if logged_in}}
      <a href="/logout">Logout</a>
      {{else}}
      <a href="/login">Login</a>
      <a href="/register">Register</a>
      {{/if}}
    </nav>
  </header>
  <main>
    <!-- Render the view -->
    {{{ body }}}
  </main>
  <footer>

  </footer>
  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}

</body>
</html>