<section
  id="dashboard-container" class="d-flex flex-column justify-content-center align-items-md-center"
>
{{#if admin }}
  <section id="table-container" class="col-sm-12 col-md-9 col-lg-10 overflow-auto">
  {{> managerWoTable}}
  </section>
{{else}}
  <section id="new-work-order-form-container" class="row col-sm-12 col-md-3 d-flex flex-column justify-content-center align-items-center">
    {{> formNewWorkOrder}}
  </section>
  <section id="table-container" class="row col-sm-12 col-md-12 col-lg-7 overflow-auto">
    {{> tableWorkOrder}}
  </section>
</section>
{{/if }}
<div
  class="modal fade"
  id="editWorkOrderModal"
  tabindex="-1"
  aria-labelledby="editWorkOrderModal"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editWorkOrderModal"><i class="fa-solid fa-pen-to-square"></i> Update Work Order</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{#if admin}}
          {{> managerFormUpdateWo}}
        {{else}}
          {{> modalFormUpdateWorkOrder}}
        {{/if}}
      </div>
    </div>
  </div>
</div>
{{#if admin}}
<script src="/js/dashManager.js"></script>
{{else}}
<script src="/js/dash.js"></script>
{{/if}}
