<section id="dashboard-container" class="d-flex flex-column justify-content-center align-items-md-center">
    <section id="login-container"
        class="row col-sm-12 col-md-3 d-flex flex-column justify-content-center align-items-center">
        <div id="login-wrapper" class="d-flex flex-column justify-content-center align-items-center">
            <div class="card text-center">
                <div class="card-header">
                    <h2>Login</h2>
                    <div class="card-body">
                        <form class="login-form">
                            <label>Email:</label>
                            <input id="email-login" type="text" />
                            <label>Password:</label>
                            <input id="password-login" type="password" />
                        <button type="submit" class="btn btn-primary login-btn">Login</button>
                        </form>
                    </div>
                </div>
            </div>
    </section>
</section>
<script src="./js/login.js"></script>