<div class="card text-center">
    <div class="card-header">
        Login
    </div>
    <div class="card-body">
        <form>
            <label>Email:</label>
            <input type="text" />
            <label>Password:</label>
            <input type="password" />
        </form>
        <a href="#" class="btn btn-primary">Login</a>
    </div>
    <div class="card-footer text-muted">
        2 days ago
    </div>
</div>
<script src="./js/login.js"></script>