<section id="dashboard-container" class="d-flex flex-column justify-content-center align-items-md-center">
    <section id="new-work-order-form-container"
        class="row col-sm-12 col-md-3 d-flex flex-column justify-content-center align-items-center">
        <div id="work-order-form-wrapper" class="d-flex flex-column justify-content-center align-items-center">
            <div class="card text-center">
                <div class="card-header">
                    <h2>Login</h2>
                    <div class="card-body">
                        <form>
                            <label>Email:</label>
                            <input type="text" />
                            <label>Password:</label>
                            <input type="password" />
                        </form>
                        <a href="#" class="btn btn-primary">Login</a>
                    </div>
                </div>
            </div>
    </section>
</section>
<script src="./js/login.js"></script>