<h2>Login</h2>

<form>
    <label>email:</label>
    <input type="text" />
    <label>password:</label>
    <input type="password" />
    <button>login</button>
</form>

<h2>Signup</h2>

<form>
    <label>name:</label>
        <input type="text" />
    <label>email:</label>
        <input type="text"/>
    <label>password:</label>
        <input type="password" />
        <button type="submit">signup</button>
    </div>
</form>

<script src="./js/login.js"></script>

