<div class="card text-center">
    <div class="card-header">
      <div class="font-weight-bolder">Login </div>
    </div>
    <div class="card-body">
        <form>
            <label>Email:</label>
            <input type="text" />
            <label>Password:</label>
            <input type="password" />
        </form>
        <a href="#" class="btn btn-primary">Login</a>
    </div>
</div>
<script src="./js/login.js"></script>