{{!-- <div class="card text-center">
  <div class="card-header">
    <div class="fw-bolder">New User Registration</div>
  </div>
  <div class="card-body">
    <form class="form register-form">
      <div class="form-group">
        <label for="name-register">Name:</label>
        <input class="form-input" type="text" id="name-register" />
      </div>
      <div class="form-group">
        <label for="email-register">Email:</label>
        <input class="form-input" type="text" id="email-register" />
      </div>
      <div class="form-group">
        <label for="password-register">Password:</label>
        <input class="form-input" type="password" id="password-register" />
      </div>
    </form>
    <a href="#" class="btn btn-primary">Register</a>
  </div>
</div> --}}

<section id="dashboard-container" class="d-flex flex-column justify-content-center align-items-md-center">
  <section id="new-work-order-form-container"
    class="row col-sm-12 col-md-3 d-flex flex-column justify-content-center align-items-center">
    <div id="work-order-form-wrapper" class="d-flex flex-column justify-content-center align-items-center">
      <div class="card text-center">
        <div class="card-header">
          <h2>New User Registration</h2>
          <div class="card-body">
            <form>
              <label>Name:</label>
              <input type="text" />
              <label>Email:</label>
              <input type="text" />
              <label for="password-register">Password:</label>
              <input class="form-input" type="password" id="password-register" />
            </form>
            <a href="#" class="btn btn-primary">Login</a>
          </div>
        </div>
      </div>
  </section>
</section>

<script src="./js/register.js"></script>