
    
    <img src="images/floor-plan-1.png" class="card-img-top" id="unit-card-image" alt="unit floor plan">
    
      <h5>{{name}} - {{sqft}} sq.ft.</h5>
      <p>{{description}}</p>
      <p>Available On: {{date_available}}</p>
      
   